*{
  
    font-family: 'Audiowide', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Proza Libre', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;;
}
.calculatebox{
    flex-wrap: wrap;
}
.innerbox{
    height: 445px;
    width: 69%;
}
.innerbox input{
    width:392px ;
    padding: 12px;
    margin: 27px;
    font-size: 14px;
}
h1{
    font-size: 40px;
}
.resultbox p{
    font-size: 17px;
    margin-top: 79px;
    /* border: 2px solid red; */
}
footer{
    font-size: 14px;
}
.innerbox h3 span {
    color: red;
    font-size: 25px;
}
